extend layout
block content
  p
    | Система подсказок для Web
    | Осуществляет распознавание изображений и дополняет
    | их информацией других пользователей
 
block sidebar
  .widget
    h1 Widget
    p
      | Расширение Google Chrome
    p
      | Войти