!!!5
html
  head
    title #{title} - My Site
    link(rel='stylesheet', href='/stylesheets/styles.css')
  body
    header
      h1 ALT HINT
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Zotov Andrey, Москва